/WebApp/nbproject/private/
/WebApp/build/
/AJP_Program01/nbproject/private/
/AJP_Program01/build/
/P02_LifeCycle/build/
/P03_RequestTypes/nbproject/private/
/P03_RequestTypes/build/
/AJP_Program01/dist/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApp01/nbproject/private/
/WebApp01/build/
/WebApp01/dist/
/AJP_Chp3_Project01/nbproject/private/
/AJP_Chp3_Project01/build/
/Prog01_DateServlet/nbproject/private/
/Prog01_DateServlet/build/
/Prog02_RequestFwdInclude/nbproject/private/
/Prog02_RequestFwdInclude/build/
/AJP_Chp5_Program01/nbproject/private/
/AJP_Chp5_Program01/build/
/JSF_Lab_Programs/JSF00/nbproject/private/
/JSF_Lab_Programs/JSF01/nbproject/private/
/JSF_Lab_Programs/JSF02_Validation/nbproject/private/
/JSF_Lab_Programs/JSF03_Convertor/nbproject/private/
/JSF_Lab_Programs/JSF04_Facelet/nbproject/private/
/JSF_Lab_Programs/JSF05/nbproject/private/
/JSF_Lab_Programs/JSF06/nbproject/private/
/JSF_Lab_Programs/JSF02_Validation/build/
/JSF_Lab_Programs/JSF03_Convertor/build/
/JSF_Lab_Programs/JSF04_Facelet/build/
/JSF_Lab_Programs/JSF05/build/
/JSF_Lab_Programs/JSF06/build/
/JSF_Lab_Programs/JSF00/build/
/JSF_Lab_Programs/JSF01/build/